<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">
	<bean id="namedQueryBean" class="com.nnbee.core.util.QueryDefinitionBean">
		<property name="namedQueryMap">
			<map>
				<entry>
					<key>
						<value>GET_FAILED_PRINTER_CONTENT</value>
					</key>
					<value><![CDATA[
						SELECT count(e.customer_id) as count FROM `customer_enterprise_group` e WHERE e.enterprise_group_id=:enterprise_id
                 	]]></value>
				</entry>
				
			</map>
		</property>
	</bean>
</beans>
